body{
    background:#fff;
    font-size:14px;
}
a{
    color:#000;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style:none;
}
img{
    vertical-align: top;
}
.mui-content{
    background: #fff;
}
.footer,.header{
    background: #006699;
}
.header .mui-title{
    color:#fff;
}
.header .mui-icon{
    color:#fff;
}
.footer .mui-tab-item{
    color:#fff;
}
.footer .mui-tab-item.mui-active{
    color:darkorange;
}
/* 区域滚动 */
.mui-scroll-wrapper{
    top:44px;
    bottom:50px;
}
/* 产品 */
.product{
    padding: 0 10px;
}
.product .title{
    width: 100%;
    margin: 10px 0;
}
.product .list{

}
.product li{
    width: 50%;
    float: left;
    padding: 5px;
}
.product a{
    display: block;
    padding: 0 5px;
    box-shadow: 0 0 5px #ccc;
    overflow: hidden;
}
.product .list img{
    width: 100%;
}
.product .name{
    display: block;
    line-height: 18px;
    color:#8f8f94;
    text-align: center;
    height: 44px;
    padding: 6px;
    overflow: hidden;
}
.product p{
    font-size: 12px;
    text-align: center;
}
.product p span:nth-child(1){
    color:#f30;
    margin-right: 4px;
}
.product p span:nth-child(2){
    color:#ccc;
    text-decoration: line-through;
}
.product .buy-now{
    background-color: #069;
    color:#fff;
    margin: 0 auto;
    border:none;
    display: block;
    margin-bottom: 10px;
}

