
/* 导航 */
.nav-link{
    padding: 10px;
}
.nav-link a{
    display: block;
    width: 33.33%;
    float: left;
}
.nav-link a img{
    width: 100%;
}
/* 商标 */
.brand{
    padding: 0 10px;
}
.brand .title{
    width: 100%;
}
.brand .list{
    padding: 10px 0;
}
.brand .list li{
    float: left;
    width: 25%;
}
.brand .list a{
    display: block;
}
.brand .list img{
    width: 100%;
}





