
/* 导航 */
.nav-link{
    padding: 10px;
}
.nav-link a{
    display: block;
    width: 33.33%;
    float: left;
}
.nav-link a img{
    width: 100%;
}
/* 商标 */
.brand{
    padding: 0 10px;
}
.brand .title{
    width: 100%;
}
.brand .list{
    padding: 10px 0;
}
.brand .list li{
    float: left;
    width: 25%;
}
.brand .list a{
    display: block;
}
.brand .list img{
    width: 100%;
}
/* 产品 */
.product{
    padding: 0 10px;
}
.product .title{
    width: 100%;
    margin: 10px 0;
}
.product .list{

}
.product li{
    width: 50%;
    float: left;
    padding: 5px;
}
.product a{
    display: block;
    padding: 0 5px;
    box-shadow: 0 0 5px #ccc;
    overflow: hidden;
}
.product .list img{
    width: 100%;
}
.product .name{
    display: block;
    line-height: 18px;
    color:#8f8f94;
    text-align: center;
    height: 44px;
    padding: 6px;
    overflow: hidden;
}
.product p{
    font-size: 12px;
    text-align: center;
}
.product p span:nth-child(1){
    color:#f30;
    margin-right: 4px;
}
.product p span:nth-child(2){
    color:#ccc;
    text-decoration: line-through;
}
.product .buy-now{
    background-color: #069;
    color:#fff;
    margin: 0 auto;
    border:none;
    display: block;
    margin-bottom: 10px;
}





